body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
/* 
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
} */

.container {
	width: 930px;
	margin: 0 auto;
}

.header {
	background: url(src/img/first-bg.jpg) no-repeat center top / cover;	
	display: flex;
}

.header__titles {
	text-align: center;
	color: #fff;
    text-transform: uppercase;
	margin-bottom: 90px;
}

.header__pretitle {
	font-size: 38px;
}

.header__title {
	font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    padding-top: 30px;
}

.header__button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 130px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	margin-bottom: 190px;
}

.navigation__links {
	display: flex;
}

.navigation__link {
	margin-left: 30px;
}

.navigation__link-ref {
	color: white;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: 300;
	text-transform: uppercase;
}

.services {
	box-sizing: border-box;
	border: 1px solid white;
}

.standartTitles {
	margin-top: 115px;
}

.standartTitles__h {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.standartTitles__p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 16px;
}

.standartText__h {
	font-size: 18px;
	padding-bottom: 15px;
}

.standartText__p {
	color: #777777;
	font-size: 14px;
	line-height: 1.55em;
}

.services__items {
	margin: 70px auto 120px;
	display: flex;
	justify-content: space-between;
}

.services__item	{
	width: 270px;
	text-align: center;
}

.services__item-img {
	padding-bottom: 25px;
}

.portfolio {
	background: #f7f7f7;
    border: 1px solid white;
}

.portfolio__works {
	display: flex;
    justify-content: space-between;
    margin: 75px auto 130px;
}

.aboutus {
	border: 1px solid white;
}

.aboutus__events {
	margin: 90px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus__event {
	padding-bottom: 90px;
}

.event-2010 {
	display: flex;
	align-self: flex-start;
}

.event-2010::after {
	content: url(src/img/about1.jpg);
	padding-left: 42px;
	align-self: center;
}

.event-2011 {
	display: flex;
	align-self: flex-end;
}

.event-2011::before {
	content: url(src/img/about2.jpg);
	padding-right: 42px;
	align-self: center;
}

.event-2012 {
	display: flex;
	align-self: flex-start;
}

.event-2012::after {
	content: url(src/img/about3.jpg);
	padding-left: 42px;
	align-self: center;
}

.event-2014 {
	display: flex;
	align-self: flex-end;
}

.event-2014::before {
	content: url(src/img/about4.jpg);
	padding-right: 42px;
	align-self: center;
}

.event__desc {
	width: 280px;
}

.event__desc span {
	text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
    font-weight: 700;
}

.left {
	text-align: right;
}

.right {
	text-align: left;
}

.footer__copyright {
	font-weight: 300;
	color: #000;
	text-align: center;
	margin-bottom: 110px;
}